:root {
  
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  --primary:  #0073ff0f;
  --secondary:  #00ffea33;
  --blue:  #6f9bfa51;
  --deepblue:  #0073ffb1;
  --orange:  #ef8c01c4;

}


html,
body {
  max-width: 100vw;
background-color: var(--blue);
}

