.main{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 6rem;
min-height: 50vh;
max-height: 100vh;
background-color: var(--orange);
font-family: var(--font-mono);
}

